   <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% comment %} boostrap {% endcomment %}


            <title>Comercial - {% block vista %} {% endblock %}</title>  <!-- -->
                <!-- -->
            {% block estaticos %}

            {% endblock %}

        </head>
        <body>
            {% comment %} va una barra de navegacion {% endcomment %}

            {% block contenido %}{% endblock %}c

            {% comment %} Aqui va el footer {% endcomment %}
        </body>
        </html>

        